    <ion-menu side="start" contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item routerLink="/order">
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              <ion-label>Order</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/product">
              <ion-icon name="terminal-outline" slot="start"></ion-icon>
              <ion-label>Product</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
 